fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-community
langchain-text-splitters
python-dotenv
pytest
httpx
rank-bm25
sentence-transformers
faiss-cpu
numpy
langchain-openai
langchain-experimental
tiktoken
pypdf
gunicorn==21.2.0
uvicorn==0.27.1
